.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.svn/

/application/cache/*
/application/logs/*
/application/config/database.php
/application/third_party/PHPExcel/*
/filebox/missing/*
gen-modules/*
documents/
.idea/
.projects/
.project
*.tmp
*.bak
*.swp
*~.nib
.settings/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
/assets/css/jqwidgets/styles/compresscss.php
/assets/css/jqwidgets/styles/yuicompressor-2.4.8.jar
